<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Pdf" version="4.5.20202.450" targetFramework="net472" />
  <package id="C1.C1Zip" version="4.5.20202.450" targetFramework="net472" />
  <package id="C1.Win" version="4.5.20202.450" targetFramework="net472" />
  <package id="C1.Win.C1DX" version="4.5.20202.450" targetFramework="net472" />
  <package id="C1.Win.C1TileControl" version="4.5.20202.450" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>